{
  "src/**/*.tsx": [
    "prettier --write",
    "eslint --fix"
  ],
   "src/**/*.scss": [
    "prettier --write"
  ],
  "src/**/*.mdx": [
    "prettier --write"
  ],
 "src/**/*.md": [
    "prettier --write"
  ],
  "blog/**/*.md": [
     "prettier --write"
   ]
}